.Container {
  border-top: 4px solid #000;
  box-sizing: border-box;
  height: 50vh;
  left: 0;
  padding: 4rem 8rem;
  position: absolute;
  top: 50vh;
  width: 100%;
}

.Content {
  font-size: 1.75em;
  line-height: 1.4;
  margin: auto;
  max-width: 1000px;
}

.Title {
  font-weight: bold;
}
